//------------------------------------------------------------------------------
// #VARIABLES
//------------------------------------------------------------------------------
$better-helvetica: "HelveticaNeue-Light", "Helvetica Neue Light",
                   "Helvetica Neue", Helvetica, Arial,
                   "Lucida Grande", sans-serif;

//------------------------------------------------------------------------------
// #GRID
//------------------------------------------------------------------------------
.pattern--grid-system__row {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: lighten(#72AAF0, 15%);
}

.pattern--grid-system__inner {
  background-color: #378BEB;
  color: white;
  text-align: center;
  padding: 1rem;
}

.pattern-box,
.pattern-box-first,
.pattern-box-large,
.pattern-box-nested,
.pattern-box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: lighten(#72AAF0, 15%);
  border: 1px solid #72AAF0;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.pattern-box-nested {
  background: #378BEB;
  border-color: darken(#378BEB, 10%);
}

.pattern-box-large {
  height: 8rem;
}

//------------------------------------------------------------------------------
// #PATTERN--COLOURS
//------------------------------------------------------------------------------

.pattern--colours {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin: .25rem auto;
    padding: .25rem;
    text-align: center;
    width: 100%;

    @media (min-width: 40em) {
      width: auto;
    }
  }
}


.color--block {
  $color--block--size: 40px;

  border-radius: 50%;
  display: inline-block;
  height: $color--block--size;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  .color--block__variant {
    height: $color--block--size;
    left: 0;
    position: absolute;
    width: 50%;

    & + .color--block__variant {
      left: 50%;
    }
  }

  @media (min-width: 40em) {
    $color--block--size: 70px;

    display: block;
    height: $color--block--size;
    width: $color--block--size;

    .color--block__variant {
      height: $color--block--size;
    }
  }
}


.color--name {
  display: inline;
  font-family: $better-helvetica;
  font-size: 80%;
  padding: .25rem 0 0;

  @media (min-width: 40em) {
    display: block;
  }
}


.color--name {
  text-transform: capitalize;
  font-size: 70%;
}

//------------------------------------------------------------------------------
// #PATTERN MAIN STYLES
//------------------------------------------------------------------------------

.body {
  background: #fefefe;
  font-size: 16px;
}


.pattern--style-guide__block {margin: 0 auto;}


.pattern--main {
  margin: 0 auto;
  max-width: 1140px;
}



//------------------------------------------------------------------------------
// #PATTERN--BLOCKS
//------------------------------------------------------------------------------

.pattern--item {


  .pattern--block__title {
    border-bottom: 1px solid gray;
    font-family: $better-helvetica;
    font-size: 100%;
    font-weight: normal;
    margin: 2rem auto 1rem;
    padding: .5rem .25rem;
    text-transform: capitalize;

    &.pattern--block__title--code {
      border: 1px solid gray;
      margin: 2rem 0 0;
      padding: .5rem;
    }
  }


  > .pattern--block__body {
    padding: .5rem;
  }
}

//------------------------------------------------------------------------------
// #PATTERN--TYPOGRAPHY
//------------------------------------------------------------------------------

.pattern--title,
.pattern--paragraph,
.pattern--lists,
.pattern-link {
  font-family: $better-helvetica;
  font-weight: normal;
}

.pattern--paragraph,
.pattern--lists,
.pattern-link {
  font-size: 95%;
}

.pattern--title {
  border-bottom: 1px solid gray;
  font-size: 160%;
  margin: 2rem auto 1rem;
  padding: .5rem .25rem;
}


.pattern--paragraph {
  margin: 1rem auto 1rem-half;
  padding: .5rem .25rem;
}


.pattern--lists {
  margin: 1rem-half auto 1rem;
}


.pattern-link {
  text-decoration: none;
}


code.language-markup,
pre.language-markup {
  font-size: 90%;
  tab-size: 2;
  white-space: pre;
  padding: .25rem;
}


pre.language-markup {
  border: 1px solid gray;
  border-top: 0;
  margin: 0 !important;
}

//------------------------------------------------------------------------------
// #PATTERN--NAV
//------------------------------------------------------------------------------
.pattern--nav {
  padding: .5rem 1rem;

  a {
    color: rgba(#333, .9);
    display: block;
    padding: .25rem .5rem;
    text-decoration: none;
    text-transform: capitalize;
  }
}


//------------------------------------------------------------------------------
// #PATTERN--DOCUMENTATION-HEADER
//------------------------------------------------------------------------------
.pattern--documentation-header {
  background-color: darken(#378BEB, 5%);
  padding: 4rem 0;
  margin-bottom: 2rem;

  h2,
  p {
    color: white;
  }
}
