//------------------------------------------------------------------------------
// #CARDS
//------------------------------------------------------------------------------
// #VARIABLES
//------------------------------------------------------------------------------
$amount-of-cards:                   $global--card-depth;
$card-border:                       $global--card-border;
$card-horizontal-element-height:    $global--card-horizontal-elem-height;

//------------------------------------------------------------------------------
// #CARDS-GENERAL
//------------------------------------------------------------------------------
.card {
  background-color: white;
  border-radius: $card-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: z($index-list, 'cards');

  > .card {
    padding: $pad;
  }
}

//------------------------------------------------------------------------------
// #CARDS-DEPTH
//------------------------------------------------------------------------------
@debug 'Currently creating #{$amount-of-cards} cards';
@for $i from 1 through $amount-of-cards {
  $depth: $amount-of-cards;

  .card-depth-#{$i} {
    box-shadow: 0 2px 2px 0 rgba($black-flag, .14),
                0 3px 1px -2px rgba($black-flag, .2),
                0 #{$i}px (3px * $i) rgba($black-flag, .28);
  }
}

//------------------------------------------------------------------------------
// #CARDS-CONTEXT-ELEMENTS
//------------------------------------------------------------------------------

%card-bar-element {
  background-color: rgba($mist, .2);
  padding: $pad-quarter $pad;
  min-height: $global--card-horizontal-elem-height / 2;
}

.card {

  > header {
    @extend %card-bar-element;
  }

  > footer {
    @extend %card-bar-element;
  }

  > table {
    width: 100%;
  }
}
