//------------------------------------------------------------------------------
// #NAVBARS
//------------------------------------------------------------------------------
// #VARIABLES
//------------------------------------------------------------------------------
$navbar--height:                      40px;
$navbar--background-colour:           darken($base, 10%);
$navbar--active-links-colour:         darken($navbar--background-colour, 10%);
$navbar--will-collapse-colour:        lighten($navbar--active-links-colour, 5%);

//------------------------------------------------------------------------------
// #GENERAL
//------------------------------------------------------------------------------
.navbar {
  @extend .card-depth-1;
  @include clearfix();;
  background-color: $navbar--background-colour;
  color: $white;
  width: 100%;
  display: block;
  position: relative;
  z-index: z($index-list, 'navbar-default');
}

.navbar-nav,
.navbar-form {
  @media (min-width: $grande) {
    float: left;
  }
}

.navbar-nav {
  @include list-reset();
  @include clearfix();

  > li {
    @media (min-width: $grande) {
      float: left;
      min-height: $navbar--height;
    }
  }

  .active {
    background-color: $navbar--active-links-colour;
  }
}

//------------------------------------------------------------------------------
// #NAVBAR-BEHAVIOUR
//------------------------------------------------------------------------------

.navbar .will-collapse {
  display: none;
  overflow: hidden;
  pointer-events: inherit;
  will-change: transform;

  .navbar-nav > li > .navbar-link:not(.active) {
    background-color: $navbar--will-collapse-colour;
  }

  &.active {
    max-height: $global--max-height;
  }

  @media (min-width: $grande) {

    &,
    &.active {
      display: block !important;
      max-height: none;
      overflow: inherit;
    }
  }
}

//------------------------------------------------------------------------------
// #NAVBAR-ELEMENTS
//------------------------------------------------------------------------------

.navbar .button,
.navbar-link {
  margin: 0;
  text-transform: none;
}

.navbar-link {

  &:not(.toggle-navbar) {
    text-align: left;
    min-height: $navbar--height;
  }

  > .fa.fa-caret-down {
    @include single-transition($property: transform);
    float: right;
    line-height: $navbar--height;
    transform-origin: center;
  }

  &.active {
    > .fa.fa-caret-down {
      transform: rotate(180deg);
    }
  }

  @media (min-width: $grande) {
    &:not(.toggle-navbar) {
      text-align: center;
    }

    > .fa.fa-caret-down {
      float: none;
      line-height: $navbar--height;
      padding: 0 $pad-quarter;
    }
  }
}

.navbar-link {
  @extend .button;
  @include clearfix();
  display: block;
}

.navbar-form {
  display: flex;

  .field--container {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
  }

  @media (min-width: $grande) {
    .field--container {
      max-width: 150px;
      display: inline-block;
    }
  }

  .field--container label ~ input,
  .field--container label ~ input:focus,
  .field--container label ~ input:active {
    border-bottom-width: 1px;
  }
}

//------------------------------------------------------------------------------
// #NAVBAR-DROPDOWNS
//------------------------------------------------------------------------------

.navbar-dropdown-menu {
  @extend .card-depth-1;
  @include list-reset();
  background-color: $navbar--background-colour;
  display: none;
  min-height: 0;
  min-width: round($short / 1.5);
  overflow: hidden;
  padding: 0;
  transform: translate3d(0,0,0);
  width: auto;
  will-change: transform;
  z-index: z($index-list, 'navbar-dropdown-menu');

  .navbar-link {
    font-size: 100%;
    text-align: left;
  }

  &.active {
    max-height: $global--max-height;
  }

  @media (min-width: $grande) {
    display: block !important;
    max-height: none;
    padding: $pad-half;
    pointer-events: none;
    position: absolute;
    transform-origin: top left;
    transform: scale(0, 0) translate3d(0,0,0);

    &.active {
      pointer-events: inherit;
      transform: scale(1, 1) translate3d(0,0,0);
    }
  }
}

//------------------------------------------------------------------------------
// #NAVBAR-POSITION
//------------------------------------------------------------------------------

.navbar-right {
  @media (min-width: $grande) {
    float: right;
  }
}

.navbar.navbar-fixed {
  position: fixed;
  transform: translateZ(0);
  z-index: z($index-list, 'navbar-fixed');
}


//------------------------------------------------------------------------------
// #NAVBAR-HEADER
//------------------------------------------------------------------------------
.navbar-mobile-header {
  @include clearfix();

  @media (min-width: $grande) {
    float: left;
  }

  .toggle-navbar {
    float: right;

    @media (min-width: $grande) {
      display: none;
    }
  }

  .site-brand {
    float: left;
    display: block;
    margin-right: $space-quarter;
    max-height: $navbar--height;
    max-width: 60px;
    position: relative;

    @media (min-width: $grande) {
      float: none;
    }

    span {
      display: block;
      text-indent: -$global--indent;
    }
  }
}


//------------------------------------------------------------------------------
// #NAVBAR-HORIZONTAL
//------------------------------------------------------------------------------
.navbar.navbar-horizontal {

}


//------------------------------------------------------------------------------
// #NAVBAR-ELEMENT-CONDITIONALS
//------------------------------------------------------------------------------
.navbar.navbar-horizontal.navbar-fixed {

  + header,
  + main,
  + section {
    margin-top: $navbar--height;
  }
}


//------------------------------------------------------------------------------
// #ANIMATIONS
//------------------------------------------------------------------------------

.navbar-dropdown-menu.with__animations {
  transition: transform .3s cubic-bezier(.4,0,.2,1);

  @media (min-width: $grande) {
    opacity: 0;
    transform-origin: 0 0;
  }

  &.active {
    opacity: 1;
  }
}
