//------------------------------------------------------------------------------
// #PAGER
//------------------------------------------------------------------------------
// #VARIABLES
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// #GENERAL
//------------------------------------------------------------------------------

.pager {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.aligned {
    justify-content: space-between;
  }
}
