//------------------------------------------------------------------------------
// #IMAGES
//------------------------------------------------------------------------------
// #VARIABLES
//------------------------------------------------------------------------------

$image--rounded-border: $global--image-border;


//------------------------------------------------------------------------------
// #GENERAL
//------------------------------------------------------------------------------

.image-responsive {
  width: 100%;
  height: auto;
}

.image-rounded {
  border-radius: 50%;
}

.image-thumbnail {
  padding: $pad-half;
  background-color: white;
  border: 1px solid $mist;
}
