//------------------------------------------------------------------------------
// #LINKS
//------------------------------------------------------------------------------
// #VARIABLES
//------------------------------------------------------------------------------
$links--colour:                       $global--links-colour;

//------------------------------------------------------------------------------
// #GENERAL
//------------------------------------------------------------------------------

a {
  color: $links--colour;
  text-decoration: none;
}
