table {
  @include font--secondary($size: 13px);
  background-color: white;
  border-collapse: collapse;
  border: 1px solid rgba($black-flag, .1);
  position: relative;
  white-space: nowrap;
  text-transform: none;

  thead {
    padding-bottom: 3px;
  }

  th,
  td {
    &:first-of-type {
      text-align: left;
    }
  }

  th {
    color: rgba($black-flag, .5);
    font-size: 95%;
    font-weight: 700;
    height: 48px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 8px 18px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }

  tbody {
    tr {
      @include single-transition($property: background-color, $ease: cubic-bezier(.4,0,.2,1));
      height: 48px;
      position: relative;
    }
  }

  td {
    border-bottom: 1px solid rgba($black-flag, .1);
    border-top: 1px solid rgba($black-flag, .1);
    height: 48px;
    padding: 12px 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }
}

.numeric {
  text-align: right;
}
