//------------------------------------------------------------------------------
// #SINGLE-TRANSITION
//------------------------------------------------------------------------------
@mixin single-transition($property: all, $timing: .218s, $ease: ease-in-out, $delay: false) {
  @if (type-of($delay) == 'number') {
    transition: $property $timing $ease $delay;
  } @else {
    transition: $property $timing $ease;
  }
}

//------------------------------------------------------------------------------
// #LIST-RESET
//------------------------------------------------------------------------------
@mixin list-reset() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


//------------------------------------------------------------------------------
// #INVISIBLE
//------------------------------------------------------------------------------
@mixin invisible($state: true) {
  @if ($state == true) {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    visibility: hidden;
  } @else {
    max-height: $global--indent;
    max-width: $global--indent;
    opacity: 1;
    visibility: visible;
  }
}


//------------------------------------------------------------------------------
// #KEYFRAME-ANIMATION
//------------------------------------------------------------------------------
@mixin keyframe-animation($animation-name) {
  @-webkit-keyframes #{$animation-name} { @content; }
  @-moz-keyframes #{$animation-name} { @content; }
  @-o-keyframes #{$animation-name} { @content; }
  @keyframes #{$animation-name} { @content; }
}
