//------------------------------------------------------------------------------
// #COLOURS-SETTINGS
//------------------------------------------------------------------------------

$strawberry:                  #EB4336;
$strawberry-dark:             darken(#EB4336, 5%);
$blue-da-france:              #378BEB;
$blue-da-france-dark:         darken(#378BEB, 5%);
$lima:                        #7DD800;
$lima-dark:                   darken(#7DD800, 5%);
// body {
//   background-color: $lima-dark !important;
// }

//------------------------------------------------------------------------------
// #FITFTY-SHADES-OF-BLUE
//------------------------------------------------------------------------------

$black-flag:        #364347;
$gunpowder:         #5E696D;
$mist:              #BACAD5;

//------------------------------------------------------------------------------
// #ELEMENTAL-COLOURS
//------------------------------------------------------------------------------

$white:             #FFFFFF;
$black:             #111111;


//------------------------------------------------------------------------------
// #BASE-COLOURS
//------------------------------------------------------------------------------

$base:              $blue-da-france;
$accent:            $strawberry;
$coat:              $black-flag;


//------------------------------------------------------------------------------
// #PLIGHT-COLOURS
//------------------------------------------------------------------------------

$valid:             $lima;
// $warning--colour:   $banana;
$error:             $strawberry;
// $disabled--colour:  $coral;
