//------------------------------------------------------------------------------
// #CONFIGS
//------------------------------------------------------------------------------
// #BODY-CONFIG
// Adds different states to `<body></body>`.
//------------------------------------------------------------------------------
$global--with-sticky-footer:          'false';
$global--with-navigation-bar:         'false';


//------------------------------------------------------------------------------
// #FILE-CONFIG
//------------------------------------------------------------------------------
$style-guide:                         'true';
$marketing-pages:                     'true';


//------------------------------------------------------------------------------
// #FONT
//------------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400|Roboto:400,300,100);

$global--font-size:                   16px;
$primary--font-family:                'Lato', sans-serif;
$secondary--font-family:              'Roboto', sans-serif;
$global--font-color:                  $black-flag;


//------------------------------------------------------------------------------
// #GRID-CONFIG
// Set up for the grid system.
// Match your columns if you only want one grid system
//------------------------------------------------------------------------------
$global--max-width-of-grid:           $trenta;
$global--amount-of-columns-desktop:   6;
$global--amount-of-columns-tablet:    8;
$global--amount-of-columns-mobile:    6;
$space-for-grid-adjustment:           $space-quarter;


//------------------------------------------------------------------------------
// #INDENT-CONFIG
// Set up for indentation
//------------------------------------------------------------------------------
$global--indent:                      9999em;


//------------------------------------------------------------------------------
// #MAX-HEIGHT-CONFIG
// Set up for max-height animations
//------------------------------------------------------------------------------
$global--max-height:                  9999em;


//------------------------------------------------------------------------------
// #BORDER-CONFIG
// Adss border default configuration for elements
//------------------------------------------------------------------------------
$global--badges-border:               3px;


//------------------------------------------------------------------------------
// #HELPERS-CONFIG
// Adss helper classes to the GRID
//------------------------------------------------------------------------------
$use--show-helpers:                   'true';
$use--ordering-helpers:               'true';


//------------------------------------------------------------------------------
// #FORMS-CONFIG
//------------------------------------------------------------------------------
$global--border-animation:            2px;


//------------------------------------------------------------------------------
// #BUTTONS-CONFIG
// Set up which styles of buttons are needed.
//------------------------------------------------------------------------------
$global--buttons-flat:                'true';
$global--buttons-raised:              'true';
$global--buttons-link:                'true';
$global--buttons-icon:                'true';
$global--button-size:                 39px;


//------------------------------------------------------------------------------
// #LINKS-CONFIG
// Set up which styles of links are needed.
//------------------------------------------------------------------------------
$global--links-colour:                $base;


//------------------------------------------------------------------------------
// #CARDS-CONFIG
// Set up how depth you want the card levels to go
//------------------------------------------------------------------------------
$global--card-depth:                  8;
$global--card-border:                 2px;
$global--card-horizontal-elem-height: $global--button-size;


//------------------------------------------------------------------------------
// #IMAGES-CONFIG
//------------------------------------------------------------------------------
$global--image-border:                4px;


//------------------------------------------------------------------------------
// #PAGINATION-CONFIG
// Set up for pagination size
//------------------------------------------------------------------------------
$global--pagination-width:            250px;


//------------------------------------------------------------------------------
// #BADGES-CONFIG
// Set up for pagination size
//------------------------------------------------------------------------------
$global--badges-border:               $global--badges-border * 3;
