//------------------------------------------------------------------------------
// #SIZES
//------------------------------------------------------------------------------
// #VARIABLE-SIZES-FOR-SCREENS
// Used for @media queries and based on Starbucks coffee sizes.
//------------------------------------------------------------------------------
$short:                         20.00em;
$tall:                          30.00em;
$grande:                        47.50em;
$venti:                         60.00em;
$trenta:                        71.25em;
$american:                      87.50em;

// -----------------------------------------------------------------------------
// #MEASURES
// -----------------------------------------------------------------------------
$space:                         1rem;
$space-and-half:                $space*1.5;
$space-double:                  $space*2;
$space-half:                    $space/2;
$space-quarter:                 $space/4;

$pad:                           1rem;
$pad-and-half:                  $pad*1.5;
$pad-double:                    $pad*2;
$pad-half:                      $pad/2;
$pad-quarter:                   $pad/4;
