//------------------------------------------------------------------------------
// #COLOURS-SETTINGS
//------------------------------------------------------------------------------

$strawberry:        #F84545;
$punch:             #E2472E;
$first-blood:       #CC0000;
$lagoon:            #02BAF2;
$overboard:         #009DCD;
$banana:            #FAD46B;
$doubloon:          #F3BC65;
$bruise:            #A88CD5;
$sugar-plum:        #9175BD;
$emerald-cove:      #3EB5AC;
$landlubber:        #28948C;
$spring-wood:       #F8F9F1;
$wild-sand:         #F7F7F7;


//------------------------------------------------------------------------------
// #FITFTY-SHADES-OF-BLUE
//------------------------------------------------------------------------------

$black-flag:        #364347;
$gunpowder:         #5E696D;
$pieces-of-eight:   #93A4AA;
$cutlass:           #B2C6CD;
$coral:             #D6E1E5;
$coastal-surf:      #E1EEF3;

//------------------------------------------------------------------------------
// #ELEMENTAL-COLOURS
//------------------------------------------------------------------------------

$white:             #FFFFFF;
$black:             #111111;


//------------------------------------------------------------------------------
// #BASE-COLOURS
//------------------------------------------------------------------------------

$base:              lighten($emerald-cove, 5%);
$accent:            $lagoon;
$coat:              $black-flag;


//------------------------------------------------------------------------------
// #PLIGHT-COLOURS
//------------------------------------------------------------------------------

$success--colour:   $landlubber;
$warning--colour:   $banana;
$error--colour:     $first-blood;
$disabled--colour:  $coral;
