//------------------------------------------------------------------------------
// #CONFIGS
//------------------------------------------------------------------------------
// #BODY-CONFIG
// Adds different states to `<body></body>`.
//------------------------------------------------------------------------------
$global--with-sticky-footer:          'false';
$global--with-navigation-bar:         'false';

//------------------------------------------------------------------------------
// #FILE-CONFIG
//------------------------------------------------------------------------------
$style-guide:                         'true';

//------------------------------------------------------------------------------
// #FONT
//------------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400|Roboto:400,300,100);

$global--font-size:                   16px;
$primary--font-family:                'Lato', sans-serif;
$secondary--font-family:              'Roboto', sans-serif;

//------------------------------------------------------------------------------
// #GRID-CONFIG
// Set up for the grid system.
//------------------------------------------------------------------------------
$global--max-width-of-grid:           $trenta;
$global--amount-of-columns-desktop:   12;
$global--amount-of-columns-tablet:    8;
$global--amount-of-columns-mobile:    6;
$space-for-grid-adjustment:           $space-quarter;

//------------------------------------------------------------------------------
// #INDENT-CONFIG
// Set up for indentation
//------------------------------------------------------------------------------
$global--indent:                      9999em;

//------------------------------------------------------------------------------
// #HELPERS-CONFIG
// Adss helper classes to the GRID
//------------------------------------------------------------------------------
$use--show-helpers:                   'true';
$use--ordering-helpers:               'true';
